<div class="row align-items-center">
  <!-- Left Side: Image -->
  <div class="col-md-7 p-0">
    <div class="cardImg h-100">
      <img
        src="../../../../assets/img/cartImg.png"
        alt="backgroundImg"
        title="backgroundImg"
        class="img-fluid"
      />
    </div>
  </div>

  <div class="col-md-5 d-flex align-items-center justify-content-center">
    <div class="form-container px-4">
      <h2 class="Pri-heading mb-4">
        {{ alreadyHasAccount ? "Log in to Exclusive" : "Create an account" }}
      </h2>
      <h6 class="sec-heading mb-4">Enter your details below</h6>
      <ng-container *ngIf="!alreadyHasAccount">
        <form [formGroup]="signUp" (ngSubmit)="onsignUp()">
          <mat-form-field class="w-100 mb-1">
            <mat-label>Email</mat-label>
            <input type="text" formControlName="email" matInput />
            <mat-error
              *ngIf="
                signUp.controls['email'].hasError('required') &&
                signUp.controls['email'].touched
              "
            >
              Email is required field...!!!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-1">
            <mat-label>Password</mat-label>
            <input type="text" formControlName="password" matInput />
            <mat-error
              *ngIf="
                signUp.controls['password'].hasError('required') &&
                signUp.controls['password'].touched
              "
            >
              Password is required...!!!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-2">
            <mat-label>User Role</mat-label>
            <mat-select formControlName="userRole">
              <mat-option value="buyer">Buyer</mat-option>
              <mat-option value="admin">Admin</mat-option>
              <mat-option value="superAdmin">Super Admin</mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                signUp.controls['userRole'].hasError('required') &&
                signUp.controls['userRole'].touched
              "
            >
              User Role must be selected...!!!
            </mat-error>
          </mat-form-field>
          <div class="btnS">
            <button class="btnS1 mb-2" mat-raised-button>Create account</button>
          </div>

          <div class="googlebtn">
            <button
              mat-stroked-button
              type="button"
              color="Basic"
              class="w-100"
            >
              <img
                src="https://developers.google.com/identity/images/g-logo.png"
                alt="Google logo"
                width="20"
                height="20"
                style="margin-right: 8px"
              />
              Sign in with Google
            </button>
                      
          </div>
          <div class="text-center">
            Already has account?
            <a
              href="javascript:;"
              (click)="alreadyHasAccount = !alreadyHasAccount"
              >Log in</a
            >
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="alreadyHasAccount">
        <form [formGroup]="logIn" (ngSubmit)="onLogin()">
          <mat-form-field class="w-100 mb-1">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="text" matInput />
            <mat-error
              *ngIf="
                logIn.controls['email'].hasError('required') &&
                logIn.controls['email'].touched
              "
            >
              Email is required field...!!!
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-100 mb-1">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="text" matInput />
            <mat-error
              *ngIf="
                logIn.controls['password'].hasError('required') &&
                logIn.controls['password'].touched
              "
            >
              Password is required field...!!!
            </mat-error>
          </mat-form-field>

          <div class="buttons mb-3">
            <button class="w-50" mat-raised-button>Log In</button>
            <a href="javascript:;">Forget password?</a>
          </div>
          <div class="text-start">
            <a
              (click)="alreadyHasAccount = !alreadyHasAccount"
              href="javascript:;"
              >Don't have an account?</a
            >
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
