.stars {
  position: relative;
  display: inline-block;
  font-size: 30px; /* star size */
  color: #ccc; /* empty stars color */
}
.empty-stars {
  z-index: 1;
}
.filled-stars {
  color: gold; /* filled stars color */
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  z-index: 2;
}
