// Color Palette
$clr-primary: #f44336;
$clr-secondary: #00bfff;
$clr-light-bg: #f9f9f9;
$clr-dark-text: #333;
$clr-muted: #777;
$clr-white: #ffffff;
$clr-black: #000000;
$clr-accent: #ffc107;
$clr-border: #e0e0e0;
$clr-sale: #db4444;

$font-family-base: "Arial", sans-serif;
$font-family-heading: "Poppins", sans-serif;
