<div class="footer">
  <div class="row">
    <div class="col">
      <h2 class="heading-f1">Exclusive</h2>
      <li><a href="javascript:;">Subscribe</a></li>
      <li>Get 10% off your first order</li>
      <div class="icon_email">
        <input class="email" type="text" placeholder="Enter your email" />
        <mat-icon class="icon">send</mat-icon>
      </div>
    </div>
    <div class="col">
      <h3 class="heading-f1">Support</h3>
      <li>111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</li>
      <li>
        <a href="mailto:exclusive@gmail.com">{{ "exclusive@gmail.com" }}</a>
      </li>
      <li><a href="tel:+88015-88888-9999"> +88015-88888-9999</a></li>
    </div>
    <div class="col">
      <h4 class="heading-f1">Account</h4>
      <li><a href="javascript:;">My Account</a></li>
      <li>
        <a href="javascript:;">Login </a>/<a href="javascript:;"> Register</a>
      </li>
      <li><a href="javascript:;">Cart </a></li>
      <li><a href="javascript:;">Whislist </a></li>
      <li><a href="javascript:;">Shop </a></li>
    </div>
    <div class="col">
      <h4 class="heading-f1">Quick Link</h4>
      <li><a href="javascript:;">Privacy Policy</a></li>
      <li><a href="javascript:;">Terms Of Use</a></li>
      <li><a href="javascript:;">FAQ</a></li>
      <li><a href="javascript:;">Contact</a></li>
    </div>
    <div class="col download">
      <h6 class="heading-f1">Download App</h6>
      <li>
        <small class="heading-f2">Save $3 with App New User Only</small>
      </li>
      <div class="footer_button d-flex justify-content-start mt-2">
        <div class="qr_button mr-2 h-100">
          <img src="../../../../assets/img/fakeQR.png" alt="" />
        </div>
        <div class="link-button">
          <div style="display: flex; flex-direction: column; gap: 10px">
            <a href="https://play.google.com/store" target="_blank">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg"
                alt="Get it on Google Play"
                style="height: 40px; width: 100%"
              />
            </a>

            <!-- App Store Button -->
            <a href="https://www.apple.com/app-store/" target="_blank">
              <img
                src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"
                alt="Download on the App Store"
                style="height: 40px; width: 100%"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="brand-icons">
        <ul>
          <li>
            <a href="javascript:;"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa-brands fa-instagram"></i></a>
          </li>
          <li>
            <a href="javascript:;"><i class="fa-brands fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <hr class="footer-divider" />
  <div class="row">
    <div class="col-12">
      <p class="copyright">© Copyright Rimel 2022.All right reserved</p>
    </div>
  </div>
</div>
