<nav class="navbar">
  <div class="navbar__logo heading-color">Exclusive</div>

  <button
    class="navbar-toggler"
    type="button"
    (click)="toggleNavbar()"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon">☰</span>
  </button>

  <ul class="navbar__menu" [class.open]="!isCollapsed">
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
  </ul>

  <div class="navbar__search">
    <input type="text" placeholder="What are you looking for?" />
    <mat-icon>search</mat-icon>
  </div>
</nav>
